/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    height: 100%;
}

body * {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}