<div class="details">
    <div class="game-banner">
        <img 
        class="game-banner-img"
        src="https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" 
        alt=""
        />
    </div>
    <div class="game-content">
        <div class="details-wrapper">
            <div class="game-header">
                <h1 class="game-header-title">Game Name</h1>
                <h2 class="game-header-release-date">Release: 1.2.2002</h2>
                <p class="game-header-genres"><span>RPG</span></p>
            <!-- <div class="game-gauge">
                <mwl-gauge class="two"
                    [max]="100"
                    [dialStartAngle]= "180"
                    [dialEndAngle]="0"
                    [value]="gameRating"
                    [animated]="true"
                    [color]= "getColor"
                    [animationDuration]= "2"
                >
                </mwl-gauge>
                <a 
                    class="game-gauge-label"
                    target="_blank"
                    href=""
                    >Metactritic</a>
            </div> -->
        </div>
    </div>
</div>